<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrswimmer.membattle">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:name="com.mrswimmer.membattle.App"
        android:theme="@style/MemeBattle">
        <activity android:name="com.mrswimmer.membattle.presentation.intro.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mrswimmer.membattle.presentation.game.activity.GameActivity"/>
        <activity android:name="com.mrswimmer.membattle.presentation.intro.FirstStartActivity"/>
        <activity android:name="com.mrswimmer.membattle.presentation.main.activity.MainActivity"/>
        <activity android:name="com.mrswimmer.membattle.presentation.auth.activity.AuthActivity"/>
    </application>

</manifest>