<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.membattle">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.membattle.App"
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/MemeBattle">
        <activity
            android:name=".presentation.main.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.membattle.presentation.game.activity.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.membattle.presentation.intro.FirstStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.intro.Splash"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.membattle.presentation.auth.activity.AuthActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>