<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.membattle">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/MemeBattle">
        <activity
            android:name=".presentation.screen.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.screen.splash.intro.IntroActivity"/>
        <activity
            android:name=".presentation.screen.main.activity.MainActivity"/>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".presentation.screen.auth.activity.AuthActivity"/>
        <activity
            android:name=".presentation.screen.main.fragment.game.zoom.ZoomActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
    </application>

</manifest>